@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    background: hsl(285, 84%, 12%);

    background: linear-gradient(
        225deg,
        hsla(285, 83%, 12%, 1) 0%,
        hsla(265, 66%, 6%, 1) 100%
    );

    background: -moz-linear-gradient(
        225deg,
        hsla(285, 83%, 12%, 1) 0%,
        hsla(265, 66%, 6%, 1) 100%
    );

    background: -webkit-linear-gradient(
        225deg,
        hsla(285, 83%, 12%, 1) 0%,
        hsla(265, 66%, 6%, 1) 100%
    );

    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#2A0536", endColorstr="#0D0518", GradientType=1 );
    background-repeat: no-repeat;
}

::-moz-selection {
    background: #c2e812;
    color: black;
}

::selection {
    background: #c2e812;
    color: black;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

.narhoverAni {
    position: relative;
    transition: 0.6s;
    padding: 8px 15px;
}

.narhoverAni:hover {
    color: #c2e812;
}

.narhoverAni span {
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    border-bottom: 3px solid #c2e812;
    border-radius: 15px;
    transform: scale(0) translateY(50px);
    opacity: 0;
    transition: 0.6s;
}

.narhoverAni:hover span {
    opacity: 1;
    transform: scale(1) translateY(0);
}

.swiper {
    width: 100%;
    height: 500px;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.blob {
    opacity: 0.6;
    top: -80px;
    position: absolute;
    width: 160px;
    height: 150px;
}
.blob:nth-child(2) {
    filter: blur(10px);
}

#card::before {
    content: "";
    position: absolute;
    top: var(--y);
    left: var(--x);
    transform: translate(-50%, -50%);
    background: radial-gradient(var(--clr), transparent, transparent);
    width: 1000px;
    height: 1000px;
    border-radius: 100%;
    opacity: 0;
    transition: 0.5s, top 0s, left 0s;
}
#card:hover::before {
    opacity: 1;
}

#card::after {
    content: "";
    position: absolute;
    inset: 4px;
    background: #000000a1;
    border-radius: 12px;
}

.tilt {
    transition: transform 0.1s ease;
}

.Testimonial {
    background: linear-gradient(
            90deg,
            hsla(265, 66%, 6%, 0.4) 0%,
            hsla(265, 66%, 6%, 0.4) 100%
        ),
        url("../public/assets/worldmap.svg") no-repeat center;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

#footerbg {
    background: url("../public/assets/footerbg.svg");
    background-repeat: no-repeat;
    background-position: center 5vh;
}

#backward {
    -moz-transform: scale(-1, 1);
    -webkit-transform: scale(-1, 1);
    transform: scale(-1, 1);
}

#hover_img figure {
    overflow: hidden;
}

#hover_img img {
    display: block;
    width: 100%;
    height: auto;
}
#hover_img figure img {
    transform: scale(1);
    transition: 0.4s ease-in-out;
}
#hover_img:hover img {
    transform: scale(1.1);
}
